<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Added navbar-toggler for mobile -->
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Moved brand outside for better mobile display -->
    <a class="navbar-brand d-lg-none" href="/">Lab Reservation System</a>
    
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-center">
        <!-- Hidden on mobile since we show it above -->
        <li class="nav-item d-none d-lg-block">
          <a class="navbar-brand nav-link" href="/">Lab Reservation System</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reservation
          </a>
          <ul class="dropdown-menu">
            {{#if (eq user.role 'Student')}}
              <li><a class="dropdown-item" href="/reservations/create-reservation">Make a Reservation</a></li>
            {{/if}}
            {{#if (eq user.role 'Technician')}}
              <li><a class="dropdown-item" href="/reservations/create-reservation-tech">Create Reservation</a></li>
            {{/if}}
            <li><a class="dropdown-item" href="/reservations/my-reservations">My Reservations</a></li>
          </ul>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Reservation</a>
        </li>
        {{/if}}
        <li class="nav-item" id="nav-profile-item">
          <a class="nav-link" href="/profile"><i class="bi bi-person-circle"></i> <span class="d-lg-none">Profile</span></a>
        </li> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-search"></i> <span class="d-lg-none">Search</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/search-users">Search Users</a></li>
            <li><a class="dropdown-item" href="/search-slots">Search Slots</a></li>
          </ul>
        </li>
        {{#if user}}
        <li class="nav-item" id="nav-logout-item">
          <form action="/logout" method="POST">
            <button type="submit" class="nav-link btn btn-link"><i class="bi bi-box-arrow-right"></i> <span class="d-lg-none">Logout</span></button>
          </form>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>