    <!-- Main Container -->
    <div class="main-container">
      <div class="container-fluid py-5">
        <div class="logout-container">
          <h2 class="text-center mb-4">Deleting Profile...</h2>
          <div class="spinner-border text-success mb-3" role="status">
            <span class="visually-hidden">Deleting Profile...</span>
          </div>
          <p>Your profile is being deleted. Please wait...</p>
        </div>
      </div>