
.profile-container {
  margin: 50px auto;
  background-color: white;
  width: 80%;
  max-width: 1500px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container .row > div {
  border-right: 1px solid #ddd;
  padding: 10px;
}

.profile-container .row > div:last-child {
  border-right: none;
}

.profile-bio {
    padding: 250px;
}
