.lab-selection-container {
  max-width: 500px;
  margin: 0 auto;
}

.registration-container {
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  background-color: white;
}

.account-type-btn {
  width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.account-type-btn.active {
  border-color: #198754;
}

.account-type-btn:hover:not(.active) {
  background-color: #19875474;
}

#lab-image {
  max-height: 250px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}